In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import  NoSuchElementException

In [72]:
driver=webdriver.Chrome(r"C:\Users\Chaitra\Downloads\chromedriver_win32\chromedriver.exe")

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

##### 1. First get the webpage https://www.naukri.com/

In [18]:
url='https://www.naukri.com/'
driver.get(url)

###### 2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.¶

In [19]:
#Entering details in search criteria for designations
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

#Entering deatils in loaction field
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

##### 3. Then click the search button¶

In [20]:
#Clicking on search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

##### 4. Then scrape the data for the first 10 jobs results you get.

In [21]:
# We will create empty list in which we will update the required data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
#Extracting all the tages with the job titles.

title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
    Job=job_title[:10]

In [23]:
Job

['Data Scientist / Data Analyst -Business Analyst',
 'Network Design & Data Analyst',
 'Consultant - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'FTE - Regional BI - Functional Data Analyst',
 'Deputy Manager - Data Analyst',
 'Data Analyst CX',
 'Senior Data Analyst',
 'Senior Security Specialist - CS Awareness & Data Analyst']

In [24]:
#Extracting all the tages with the job location.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    job_location.append(i.text)
    loc=job_location[:10]
loc

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Davangere, Bangalore/Bengaluru',
 'Davangere, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [25]:
#Extracting all the tages with the company names.
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
    com=company_name[:10]
com

['Inflexion Analytix Private Limited',
 'Dell International Services India Private Limited',
 'Flipkart Internet Private Limited',
 'Siemens Limited',
 'Bright Money',
 'Schneider Electric India Pvt. Ltd.',
 'Schneider Electric India Pvt. Ltd.',
 'Philips India Limited',
 'Flipkart Internet Private Limited',
 'Cognizant Technology Solutions India Pvt Ltd']

In [26]:
#Extracting all the tages with the experince required.
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in exp_tags:
    experience_required.append(i.text)
    exp=experience_required[:10]
exp

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '3-6 Yrs',
 '6-10 Yrs',
 '4-5 Yrs',
 '4-7 Yrs']

##### 5. Finally create a dataframe of the scraped data.¶

In [27]:
Data_Analyst={'Job':Job,'Location':loc,
              'Company':com,'Experience Required':exp}
Data_Analyst=pd.DataFrame(data=Data_Analyst)
Data_Analyst

,Job,Location,Company,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
2,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,Siemens Limited,0-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
5,FTE - Regional BI - Functional Data Analyst,"Davangere, Bangalore/Bengaluru",Schneider Electric India Pvt. Ltd.,5-8 Yrs
6,Deputy Manager - Data Analyst,"Davangere, Bangalore/Bengaluru",Schneider Electric India Pvt. Ltd.,3-6 Yrs
7,Data Analyst CX,Bangalore/Bengaluru,Philips India Limited,6-10 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,4-5 Yrs
9,Senior Security Specialist - CS Awareness & Da...,Bangalore/Bengaluru,Cognizant Technology Solutions India Pvt Ltd,4-7 Yrs

##### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

##### 1. First get the webpage https://www.naukri.com/

In [28]:
url='https://www.naukri.com/'
driver.get(url)

##### 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.¶

In [29]:
#Entering details in search criteria for designations
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

#Entering deatils in loaction field
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

##### 3. Then click the search button¶

In [30]:
#Clicking on search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

##### 4. Then scrape the data for the first 10 jobs results you get.¶

In [31]:
# We will create empty list in which we will update the required data
job=[]
loc=[]
comp=[]
desc=[]

In [32]:
#Extracting all the tages with the job titles.

title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    job.append(i.text)
    job=job[:10]
job

['Data Scientist / Data Analyst -Business Analyst',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining']

In [33]:
location=driver.find_element_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location.text

'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru'

In [34]:
#Extracting all the tages with the job location.

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    loc.append(i.text)
loc=loc[:10]
loc

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(JP Nagar)',
 'Bangalore/Bengaluru(Dairy Circle)',
 'Bangalore/Bengaluru(Banashankari Stage II)',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Vadodara',
 'Bangalore/Bengaluru']

In [35]:
#Extracting all the tages with the company names.
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    comp.append(i.text)
    
comp=comp[:10]
comp

['Inflexion Analytix Private Limited',
 'Baker Hughes Incorporated',
 'Baker Hughes - The Network',
 'Confidential',
 'ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED',
 'Pegasus Knowledge Solutions India Private Limited',
 'Squareroot Consulting Pvt Ltd.',
 'Fractal Analytics',
 'Nielsen',
 'Wrackle Technologies Pvt Ltd']

##### 4.2 Please note that you have to scrape full job description. For that you may have to open each job separately as shown below¶

In [36]:
#For this task we have to scrap url for each job
from selenium.common.exceptions import  NoSuchElementException
url_job=[]
for i in title:
    url_job.append(i.get_attribute('href'))

for k in url_job[0:10]:
    try:
        
        driver.get(k)
        descript=driver.find_element_by_xpath("//div[@class='dang-inner-html']").text
        desc.append(descript)
    except NoSuchElementException:
        desc.append('NA')

desc=desc[:10]
desc

["Job description\n\nJob Role: Data Scientist/Data Analyst /Business Analyst\n\nLocation: Chennai/Bangalore/Hyderabad\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7 Pm\n\nKoodesh B- +91 73395 11107\nManigandan B - +91 93444 57360\n\nEmail :\n\ncareerguidance.koodes@centerforaia.com\nmanigandan@centerforaia.com\n\nWhat is needed from you?\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nEducational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\nSelection procedure includes\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\nCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms, and solutions\nUnderstanding/implementation of ML algorithms, performance tuning, and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data into a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation, and transformation\nIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion",
 'As as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.\nAs a Sr Data Scientist, you will be responsible for:\nDesigning and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models.\nBuilding solutions and delivering code from proof of concept to production-level maturity following agile development principles.\nBreaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods.\nKeeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development.\nDocumenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations.\nCollaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services.\nUnit-Testing for production quality code development and supporting end-to-end testing of delivered software components.\nWorking in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics.\nFuel your passion, To be successful in this role you will:\nHave bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience.\nHave knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications.\nExperience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling.\nHave extensive applied experience with Reinforcement Learning is desired.\nHave experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP.\nHave developed containerized solutions (Docker, Mesos, etc.).\nHave solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc.\nHave hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases.',
 'As as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets.\nAs a Sr Data Scientist, you will be responsible for:\nDesigning and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models.\nBuilding solutions and delivering code from proof of concept to production-level maturity following agile development principles.\nBreaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods.\nKeeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development.\nDocumenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations.\nCollaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services.\nUnit-Testing for production quality code development and supporting end-to-end testing of delivered software components.\nWorking in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics.\nFuel your passion, To be successful in this role you will:\nHave bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience.\nHave knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications.\nExperience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling.\nHave extensive applied experience with Reinforcement Learning is desired.\nHave experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP.\nHave developed containerized solutions (Docker, Mesos, etc.).\nHave solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc.\nHave hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases.',
 'Regarding opportunity with one of the clients of Gadiya Infosystems Pvt ltd\n\nRoles and Responsibilities\nExperience level 5-9 Years of overall industrial experience\nThe Data science contractor would be tasked with solving a real-life business problem that requires processing/analyzing\nTBs of data and handling variety of data sources\nThe work is organized as a project with clear deliverable and timeline\nThe Data science contractor would collaborate with other team members who would provide support and mentoring\nThe Data science contractor would proactively investigate, report, and where possible, address data quality issues\nDesired Candidate Profile\nExcellent in command of the English language\nExperience with SQL, ideally Postgres\nIntermediate knowledge of at least one programming language, ideally Python or R\nGood understanding of statistical analysis and techniques: Classification analysis (Decision trees, Random forest, GBM,\nLinear and Logistic regression analysis, ANOVA, Hypothesis testing, Cluster analysis, PCA)\nPractical experience in data mining\nExcellent knowledge of Excel\nPreferred Skills:\nGood understanding of API connections and data pipelining\nUnderstanding of data engineering and data models\nKnowledge with Natural Language Processing\nUnderstanding of different model performance metrics and hyperparameters optimization\nBusiness Acumen, ability to translate business needs into a set of workable, specific requirements',
 "ROLES AND RESPONSIBILITIES:\nParticipate in customer workshops to understand customer problems and design solutions with Advanced Analytics\nDefine Advanced Analytics Use Cases and Implementation Roadmap\nBuild Prototypes, POCs and Production ready Data Science applications\nSupport and enhance Data Science Models/Applications\nManage customer relationship and drive account growth initiatives\nCollaborate with Partners for understanding the trends and new solutions and presenting the same to the customers and sales\nSKILLS AND QUALIFICATIONS:\nOverall, 10 to 12 yrs. of exp in solving customer problems with Data and 7-8 years of experience as Data Scientist for Life Sciences, Health Care and FMCG\nDeep understanding and minimum 5 years of hands-on experience in developing models using Machine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Jupiter, MATLAB, etc.)\nStrong programming skills in one or more scripting languages like R, Python)\nExperience with Data Visualization tools like Tableau, Microsoft Power BI and SiSense\nExposure to working on AI/Data Science/Analytics platforms like SAS, Microsoft AI, Amazon AI, IBM WATSON, H20,\nStrong business acumen to understand business objectives & dynamics and possess excellent written and verbal communication skills for coordinating across teams\nExperience with common data science toolkits, such as Python, R, Weka, NumPy, MATLAB, etc\nProficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification, tree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nStrong hold of concepts in Statistics and expertise in Machine Logs Processing, text mining and text analytics\nMaster's degree in Statistics, Applied Math, Operations Research, Economics, or a related quantitative field with working experience as a Data Scientist",
 'A. 10 - 12 years of Data experience with at least 5 yrs as Data scientist.\nB. Lead a team of about 8 staff.\nC. Python Data Science exp.\nD. Data Modelling, Algorithms.\nE. Knowledge of Databases to store and retrieve data.\nF. Deep SQL & exp. doing EDA.\n\nRequired Candidate profile\n1. SAS Enterprise Miner, SAS Base, SAS Model manager preferred.\n2. Deep MS Excel knowledge.\n3. Hands-on role.\n4. Independent working with clients, provide insights in to their data and explain models.',
 'Roles and Responsibilities\nHiring for US based Start-up AI Fintech which is building Digital Banking platform for North American region.\n\nExperience for the Role : Data Scientist (1+ Yrs) & Senior/ Lead Data Scientist (3+ Yrs)\n\nLocation : Bangalore (HSR Layout)\n\nLooking expert machine learning and a statistical mastermind and who are keen to make a difference in a unique way.\n\nWe expect a Data Scientist & ML Engineer to take the onus of creating and leveraging the state-of-the-art algorithms in machine learning, deep learning and AI which will impact billions of people.\n\nMain Responsibilities :\n\nAs an ML Engineer / Data Scientist, you will work on cutting edge problems in Natural Language Processing using Deep Learning.\n\n- Perform exploratory data analysis to understand the problem\n\n- Implement and experiment with different features and architectures for Deep-Learning models for NLP\n\n- Do literature review and come up with possible solutions\n\n- Do visualisation for understanding the problem and showcasing models\n\n- Make the model faster for real-time predictions\n\n- Build tools to help the team build models and deploy them\n\nWhat We are looking:\n\n- B.Tech, M.Tech or Ph.D in Computer Science or equivalent work experience\n\n- Knowledgeable on common data structures and algorithms\n\n- Knowledgeable in one or more of the following : Machine Learning / Information Retrieval / Deep Learning / NLP\n\n- 1 to 5 year experience working with real world datasets\n\n- Strong interest in solving real world problems in Machine Learning\n\n- Programming experience (in any programming language) is a must\n\n- Good familiarity with Python and its scientific computing / ML ecosystem is preferable.',
 'The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.\nJob Responsibilities\nAbility to understand a problem statement and implement analytical solutions techniques independently with independently / proactively / thought-leadership.\nWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions.\nFast learner: ability to learn and pick up a new language/tool/ platform quickly.\nConceptualize, design, and deliver high-quality solutions and insightful analysis.\nConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems.\nCollaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes.\nAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\nExperience Required:\nExpert level proficiency in at least one of R and Python.\nAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms.\nExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance.\nProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes.\nIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis.\nWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go.\nGood to Have:\nExperience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\nExperience of working in on one or more domains:\nCPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\nBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\nHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\nExperience in working with Linux computing environment and use of command line tools like sed/awk\nGood grasp on databases including RDBMS, NoSQL, MongoDB etc.\nEducation Qualification\nB.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields.',
 'NA',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.']

##### 5. Finally create a dataframe of the scraped data.¶

In [37]:
Data_Scientist={'Job':job,'Location':loc,
              'Company':comp,'Job Description':desc}
Data_Scientist=pd.DataFrame(data=Data_Scientist)
Data_Scientist

,Job,Location,Company,Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description\n\nJob Role: Data Scientist/Da...
1,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"As as Senior Data Scientist, you will work in ..."
2,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,"As as Senior Data Scientist, you will work in ..."
3,Data Scientist,Bangalore/Bengaluru(JP Nagar),Confidential,Regarding opportunity with one of the clients ...
4,Lead Data Scientist,Bangalore/Bengaluru(Dairy Circle),ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED,ROLES AND RESPONSIBILITIES:\nParticipate in cu...
5,Senior Data Scientist,Bangalore/Bengaluru(Banashankari Stage II),Pegasus Knowledge Solutions India Private Limited,A. 10 - 12 years of Data experience with at le...
6,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Roles and Responsibilities\nHiring for US base...
7,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,The Artificial Intelligence and Machine Learni...
8,Senior Data Scientist,"Chennai, Bangalore/Bengaluru, Vadodara",Nielsen,NA
9,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Roles and Responsibilities\nRequirements :\n\n...

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:¶

###### You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

##### The task will be done as shown in the below steps:¶

### 1. First get the webpage https://www.naukri.com/

In [38]:
url='https://www.naukri.com/'
driver.get(url)

###### 2. Enter “Data Scientist” in “Skill,Designations,Companies” field

In [39]:
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')

##### 3. Then click the search button.¶

In [40]:
driver.find_element_by_xpath("//button[@class='btn']").click()

##### 4. Then apply the location filter and salary filter by checking the respective boxes¶

In [41]:
#Applying filter for location 'Delhi/NCR'

driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i").click()
time.sleep(4)

#Applying fliter for salary '3-6 lakhs'

driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i").click()

##### 5. Then scrape the data for the first 10 jobs results you get.

In [42]:

# We will create empty list in which we will update the required data
Job=[]
Loc=[]
Comp=[]
Exp=[]

#scrapping job titles
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    Job.append(i.text)
    Job=Job[:10]
    
#scrapping location
loct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loct:
    Loc.append(i.text)
    Loc=Loc[:10]
    
#scrapping company
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    Comp.append(i.text)
    Comp=Comp[:10]
    
#scrapping experience
expe=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in expe:
    Exp.append(i.text)
    Exp=Exp[:10]

#Creating the DataFrame
Data_Scientist_Delhi={'Job':Job,'Location':Loc,
              'Company':Comp,'Experience':Exp}
Data_Scientist_Delhi=pd.DataFrame(data=Data_Scientist_Delhi)
Data_Scientist_Delhi

,Job,Location,Company,Experience
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
3,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
4,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
5,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
6,Data Scientist - Text NLP | Noida,Noida,Acidaes Solutions Pvt. Ltd.,3-5 Yrs
7,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
8,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
9,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs

##### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

###### This task will be done in following steps:¶

##### 1. first get the webpage https://www.glassdoor.co.in/index.htm

In [44]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

###### 2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.¶

In [46]:
from selenium.webdriver.common.keys import Keys

#Entering Data Scientist in Job field
driver.find_element_by_xpath("//input[@id='sc.keyword']").send_keys('Data Scientist')

#To ender 'Noida' in loaction field, I have to delete 'Mumbai' which is auto populated.
driver.find_element_by_xpath('//input[@id="sc.location"]').clear()
driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida')

##### 3. Then click the search button.¶

In [47]:
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

##### 4. Then scrape the data for the first 10 jobs results you get in the above shown page.¶

In [48]:
# We will create empty list in which we will update the required data
c_name=[]
days=[]
rating=[]

#scrapping company name
companies=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
for i in companies:
    c_name.append(i.text)
    c_name=c_name[:10]

#scrapping the number of days before it was posted
day=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in day:
    days.append(i.text)
    days=days[:10]

ratings=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
for i in ratings:
    rating.append(i.text)
    rating=rating[:10]
    
#Creating the DataFrame

DS_Glassdoor={'Company Name':c_name,'Days Posted':days,'Rating':rating}
DS_Glassdoor=pd.DataFrame(data=DS_Glassdoor)
DS_Glassdoor

         Company Name Days Posted Rating
0              PayPal         14d    4.3
1              PayPal         14d    4.3
2          Olam Group          3d    3.8
3                Citi
4        Baker Hughes          3d    3.7
5         FE Fundinfo         20d    4.5
6  Standard Chartered         19d    3.8
7      Aspire Systems          6d    4.0
8     Springer Nature         11d    3.6
9  VM3 Tech Solutions         13d    5.0

###### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.¶

##### You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.¶

The above task will be, done as shown in the below steps:

In [50]:
# 1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm

 
time.sleep(2)

driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [51]:
# 2. Enter “Data Scientist” in Job title field and “Noida” in location field.

driver.find_element_by_xpath("//input[@name='sc.keyword']").send_keys('Data Scientist')

In [52]:
driver.find_element_by_xpath("//input[@id='LocationSearch']").clear()
driver.find_element_by_xpath("//input[@id='LocationSearch']").send_keys('Noida')

In [53]:
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

In [54]:
c=[]
mins=[]
maxs=[]
avg=[]
num=[]

#scrapping company name
for i in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
    c.append(i.text)
    c=c[:10]

#scrapping min salary
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]"):
    mins.append(i.text)
    mins=mins[:10]

#scrapping max salary
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]"):
    maxs.append(i.text)
    maxs=maxs[:10]
    
#scrapping average salary    
for i in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"):
    avg.append(i.text.replace('\n',''))
    avg=avg[:10]

#scrapping number of salaries
for i in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
    num.append(i.text)
    num=num[:10]
    
#creating a dataframe for #Company name, Number of salaries, Average salary, Min salary, Max Salary.

DS_Sal={'Company name':c,'Number of salaries':num,'Average Salary':avg,
       'Min Salary':mins,'Max Salary':maxs}
DS_Sal=pd.DataFrame(data=DS_Sal)
DS_Sal

Empty DataFrame
Columns: [Company name, Number of salaries, Average Salary, Min Salary, Max Salary]
Index: []

##### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:¶

1.Brand
2.Product Description
3.Price
4.Discount %

In [55]:
#1. Go to flipkart webpage by url https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [56]:
#Once the website opens we get the pop. To cancel the pop up
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [57]:
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon.

driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sunglasses')
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

 3. after that you will reach to a webpage having a lot of sunglasses. 
#From this page you can scrap the required data as usual.

In [59]:
 

b=[]
pdis=[]
pr=[]
dis=[]

#scrapping the brand name
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        b.append(j.text)
        b=b[:100]
        
#scrapping the product description
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        pdis.append(j.text)
        pdis=pdis[:100]

#scrapping the product price
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pr.append(j.text)
        pr=pr[:100]

#scrapping the product discount
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        dis.append(j.text)
        dis=dis[:100]

#clicking on the next page
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(2)

#creating the dataframe
Flipkart_Sun={'Brand':b,'Description':pdis,'Price':pr,'Discount':dis}
Flipkart_Sun=pd.DataFrame(data=Flipkart_Sun)
Flipkart_Sun

,Brand,Description,Price,Discount
0,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹1,120",₹879 off
1,NuVew,"UV Protection, Gradient, Night Vision, Mirrore...",₹365,₹810 off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,₹2300 off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹682,₹217 off
4,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹529,₹370 off
...,...,...,...,...
95,ROYAL SON,UV Protection Wrap-around Sunglasses (Free Size),₹664,₹835 off
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹529,₹370 off
97,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹499,₹300 off
98,Fastrack,UV Protection Shield Sunglasses (54),₹592,₹307 off
99,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (57),₹499,₹2056 off

###### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

##### As shown in the above page you have to scrape the tick marked attributes.¶

These are

Rating
Review_summary
Full review You have to scrape this data for first 100 reviews.

In [60]:
time.sleep(2)

#1. Go to flipkart webpage by url https://www.flipkart.com/
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [61]:

#clicking on all reviews

driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [62]:
#Creating the empty list to store the data

rating=[]
summ=[]
full=[]

for i in range(0,11):
    
    #scrapping the rating
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(j.text)
        rating=rating[:100]
    
    #scrapping the sunn
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        summ.append(j.text)
        summ=summ[:100]

    #scrapping the full review
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full.append(j.text)
        full=full[:100]

#creating the dataframe
iphone_reviews={'Rating':rating,'Review Summary':summ,'Full Review':full}
iphone_reviews=pd.DataFrame(data=iphone_reviews)
iphone_reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
...,...,...,...
95,5,Simply awesome,Really satisfied with the Product I received.....
96,4,Good choice,So far it’s been an AMAZING experience coming ...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

##### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.¶

You have to scrape 4 attributes of each sneaker :

Brand
Product Description
Price
discount %

In [74]:
time.sleep(2)

driver.get('https://www.flipkart.com/')

In [75]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [76]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sneakers')

In [77]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [ ]:
brand=[]
productdis=[]
price=[]
discount=[]

#scrapping the brand name
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
        brand=brand[:100]
        
#scrapping the product description
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        productdis.append(j.text)
        productdis=productdis[:100]

#scrapping the product price
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(j.text)
        price=price[:100]

#scrapping the product discount
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(j.text)
        discount=discount[:100]

#clicking on the next page
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
        time.sleep(2)
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
            
#creating the dataframe
Flipkart_Sneakers={'Brand':brand,'Description':productdis,'Price':price,'Discount':discount}
Flipkart_Sneakers=pd.DataFrame(data=Flipkart_Sneakers)
Flipkart_Sneakers

###### Q9: Go to the link - myntra.com/shoes

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [79]:
time.sleep(2)

driver.get('https://www.myntra.com/shoes')

In [80]:
#price filter (there is no price filter for 6649 to 13099 hence will filter it with 6612 to 13075)

driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
time.sleep(2)

#color filter
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [81]:
#creating the dataframe to store the data
shoe=[]
ssdesc=[]
shoeprice=[]

for i in range(0,2):
    time.sleep(2)
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        shoe.append(i.text)
        shoe=shoe[:100]
    
    for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        ssdesc.append(i.text)
        ssdesc=ssdesc[:100]
    
    for i in driver.find_elements_by_xpath("//div[@class='product-price']/span[1]"):
        shoeprice.append(i.text)
        shoeprice=shoeprice[:100]
        
    #going to the next page
    driver.find_element_by_xpath("//a[@rel='next']").click()
    
#creating the dataframe
Myntra_Shoes={'Brand':shoe,'Description':ssdesc,'Price':shoeprice}
Myntra_Shoes=pd.DataFrame(data=Myntra_Shoes)
Myntra_Shoes

             Brand                           Description               Price
0             ALDO                          Men Sneakers            Rs. 9999
1             Nike            Men AIR ZOOM Running Shoes   Rs. 8236Rs. 10295
2             Nike        Unisex LEBRON XVIII Basketball  Rs. 12316Rs. 17595
3             Nike        Unisex COSMIC UNITY Basketball           Rs. 13495
4             Nike             Men Zoom Winflo 8 Running            Rs. 8295
..             ...                                   ...                 ...
95  ROSSO BRUNELLO        Men Solid Leather Formal Monks           Rs. 13499
96    Kenneth Cole       Men Solid Leather Formal Derbys   Rs. 8154Rs. 13590
97     Birkenstock  Women Marillia Natural Leather Flats           Rs. 13490
98     Birkenstock     Women Arizona Oiled Leather Flats           Rs. 11990
99     Birkenstock             Women Derbys Casual Shoes           Rs. 11990

[100 rows x 3 columns]

###### Q10: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [82]:
time.sleep(2)

driver.get(' https://www.amazon.in/')

In [83]:

#Entering the laptop under search
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
time.sleep(2)

#clicking the search button

driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]').click()

In [84]:
#setting the filter for “Intel Core i7” and “Intel Core i9” 

driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a").click()
time.sleep(4)

driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a").click()


After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:¶
title
Ratings
Price

In [85]:
#scrapping the data

#creating the empty list to enter the data
Title=[]
Ratings=[]
Price=[]

#scrapping the title
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text)
    Title=Title[:10]

#scrapping the rating

Rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')  
for i in Rating:
    Ratings.append(i.get_attribute('aria-label'))
    Ratings=Ratings[:10]
    
#scrapping the Price
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    Price.append(i.text)
    Price=Price[:10]
    
#creating the dataframe
Amazon_laptop={'Title':Title,'Ratings':Ratings,'Price':Price}
Amazon_laptop=pd.DataFrame(data=Amazon_laptop)
Amazon_laptop

,Title,Ratings,Price
0,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5 stars,"84,990"
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5 stars,"59,999"
2,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.9 out of 5 stars,"78,993"
3,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,4.5 out of 5 stars,"46,999"
4,"MSI GF65 Thin 10SDR 15.6"" FHD Gaming Laptop - ...",4.2 out of 5 stars,"97,999"
5,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,4.6 out of 5 stars,"39,999"
6,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...",3.7 out of 5 stars,"91,790"
7,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.4 out of 5 stars,"86,990"
8,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.1 out of 5 stars,"88,990"
9,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,2.9 out of 5 stars,"42,999"